
        .css-span{
            color: green;
        }
        .embeded{
            color: yellowgreen;
        }
        .yellow-bg{
            background-color: #fafa69;
        }
        .hot{
            color: #d605d6;
        }
        li.hot{
            font-weight: 700;
        }
        
   